aiofiles
aiohttp
aioshutil
anytree
apscheduler
aria2p
asyncio
beautifulsoup4
cloudscraper
dnspython
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
lxml
motor
natsort
pillow
psutil
pybase64
pyrogram
pymongo
python-dotenv
python-telegram-bot
qbittorrent-api
requests
speedtest-cli
tgcrypto
urllib3
uvloop
yt-dlp
